node-linker=hoisted
public-hoist-pattern[]=*
public-hoist-pattern[]=!react
public-hoist-pattern[]=!react-dom
public-hoist-pattern[]=!react-native
public-hoist-pattern[]=!react-native-web
public-hoist-pattern[]=!react-native-reanimated
public-hoist-pattern[]=!react-native-gesture-handler
public-hoist-pattern[]=!react-native-safe-area-context
public-hoist-pattern[]=!react-native-screens
public-hoist-pattern[]=!react-native-svg
strict-peer-dependencies=false
auto-install-peers=false
